[v-cloak]{
  display:none;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  color:#333;
}
#app{
  width: 100%;
  height: 100%;
}
input,select{
  font-size: .14rem;
}
.container{
  width: 100%;
  padding:0px;
  box-sizing: border-box;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clearfix:after{
  content: '';
  clear: both;
  display: block;
}
.btnGray{
  float: left;
  width: 100px;
  height:30px;
  border:0;
  background: #D8D8D8;
  border-radius: 2px;
  cursor:pointer;
  color:#333;
}
.btnBlue{
  .btnGray;
  float: right;
  background:#578DED;
  color:#fff;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  height:10px;
  width:8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(0,0,0,0.3);
}

.ggjHeader{
    width: 100%;
    height: .88rem;
    background: #fff;
    position: fixed;
    top:0;
    z-index: 2;
    a,i{
        position: absolute;
        top: .3rem;
        left: .33rem;
        width: .18rem;
        height: .32rem;
        background: url(../images/icon-back.png);
        background-size: 100%;
    }
    p{
        width: 100%;
        height: .88rem;
        line-height: .88rem;
        text-align: center;
        font-size: .36rem;
    }
}

/*遮罩*/
.overlay{
  display: block;
  position: fixed;
  z-index: 10002;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
